CellPhoneService/CRM.UI/Connected Services/CRMService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CRM/CRMService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" />
  <xs:element name="SendClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="client" nillable="true" type="q1:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="line" nillable="true" type="q2:Line" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendLineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="GetClientTypesResult" nillable="true" type="q3:ArrayOfClientType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="call" nillable="true" type="q4:Call" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="sMS" nillable="true" type="q5:SMS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMSResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPackageInclude">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="packageInclude" nillable="true" type="q6:PackageInclude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPackageIncludeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="GetClientsResult" nillable="true" type="q7:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLines">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="GetLinesResult" nillable="true" type="q8:ArrayOfLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="GetPackagesResult" nillable="true" type="q9:ArrayOfPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinesofClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="client" nillable="true" type="q10:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinesofClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="GetLinesofClientResult" nillable="true" type="q11:ArrayOfLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinesByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinesByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="GetLinesByClientIdResult" nillable="true" type="q12:ArrayOfLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoce">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="line" nillable="true" type="q13:Line" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="GetInvoceResult" nillable="true" type="q14:Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallsOfLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallsOfLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="GetCallsOfLineResult" nillable="true" type="q15:ArrayOfCall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="client" nillable="true" type="q16:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="DeleteClientResult" nillable="true" type="q17:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="line" nillable="true" type="q18:Line" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="DeleteLineResult" nillable="true" type="q19:Line" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>