CellPhoneService/CRM.UI/Connected Services/CRMService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallstoCenter" type="xs:int" />
      <xs:element minOccurs="0" name="ClientTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lines" nillable="true" type="tns:ArrayOfLine" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Payments" nillable="true" type="tns:ArrayOfPayment" />
      <xs:element minOccurs="0" name="TypeId" nillable="true" type="tns:ClientType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Line" nillable="true" type="tns:Line" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLine" nillable="true" type="tns:ArrayOfLine" />
  <xs:complexType name="Line">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calls" nillable="true" type="tns:ArrayOfCall" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package" nillable="true" type="tns:Package" />
      <xs:element minOccurs="0" name="PackageId" type="xs:int" />
      <xs:element minOccurs="0" name="SMSs" nillable="true" type="tns:ArrayOfSMS" />
      <xs:element minOccurs="0" name="Status" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Line" nillable="true" type="tns:Line" />
  <xs:complexType name="ArrayOfCall">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Call" nillable="true" type="tns:Call" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCall" nillable="true" type="tns:ArrayOfCall" />
  <xs:complexType name="Call">
    <xs:sequence>
      <xs:element minOccurs="0" name="DestinaionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dureation" type="xs:double" />
      <xs:element minOccurs="0" name="ExternalPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Line" nillable="true" type="tns:Line" />
      <xs:element minOccurs="0" name="LineId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Call" nillable="true" type="tns:Call" />
  <xs:complexType name="Package">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageTotalPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Package" nillable="true" type="tns:Package" />
  <xs:complexType name="ArrayOfSMS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMS" nillable="true" type="tns:SMS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMS" nillable="true" type="tns:ArrayOfSMS" />
  <xs:complexType name="SMS">
    <xs:sequence>
      <xs:element minOccurs="0" name="DestinaionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Line" nillable="true" type="tns:Line" />
      <xs:element minOccurs="0" name="LineId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMS" nillable="true" type="tns:SMS" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="avaliable" />
      <xs:enumeration value="used" />
      <xs:enumeration value="stolen" />
      <xs:enumeration value="blocked" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="ArrayOfPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="tns:Payment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayment" nillable="true" type="tns:ArrayOfPayment" />
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPayment" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
  <xs:complexType name="ClientType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MinutePrice" type="xs:double" />
      <xs:element minOccurs="0" name="SMSPrice" type="xs:double" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientType" nillable="true" type="tns:ClientType" />
  <xs:complexType name="ArrayOfClientType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientType" nillable="true" type="tns:ClientType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientType" nillable="true" type="tns:ArrayOfClientType" />
  <xs:complexType name="PackageInclude">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiscountPrecentage" type="xs:double" />
      <xs:element minOccurs="0" name="FavoriteNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FavoriteNumbers" nillable="true" type="tns:SelectedNumbers" />
      <xs:element minOccurs="0" name="FixedPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InsedeFamilyCalls" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxMinute" type="xs:int" />
      <xs:element minOccurs="0" name="MostCalledNumber" type="xs:boolean" />
      <xs:element minOccurs="0" name="Package" nillable="true" type="tns:Package" />
      <xs:element minOccurs="0" name="PackageId" type="xs:int" />
      <xs:element minOccurs="0" name="SelectedNumbersId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageInclude" nillable="true" type="tns:PackageInclude" />
  <xs:complexType name="SelectedNumbers">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SecondNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThirdNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectedNumbers" nillable="true" type="tns:SelectedNumbers" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
  <xs:complexType name="ArrayOfPackage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Package" nillable="true" type="tns:Package" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackage" nillable="true" type="tns:ArrayOfPackage" />
</xs:schema>