CellPhoneService/CRM.Simulator/Connected Services/CRMService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CRMService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICRMService_SendClient_InputMessage">
    <wsdl:part name="parameters" element="tns:SendClient" />
  </wsdl:message>
  <wsdl:message name="ICRMService_SendClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendClientResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetClientTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientTypes" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetClientTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_SendCall_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCall" />
  </wsdl:message>
  <wsdl:message name="ICRMService_SendCall_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendCallResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_SendSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="ICRMService_SendSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICRMService">
    <wsdl:operation name="SendClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/SendClient" message="tns:ICRMService_SendClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/SendClientResponse" message="tns:ICRMService_SendClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/GetClientTypes" message="tns:ICRMService_GetClientTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/GetClientTypesResponse" message="tns:ICRMService_GetClientTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCall">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/SendCall" message="tns:ICRMService_SendCall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/SendCallResponse" message="tns:ICRMService_SendCall_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/SendSMS" message="tns:ICRMService_SendSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/SendSMSResponse" message="tns:ICRMService_SendSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/GetClients" message="tns:ICRMService_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/GetClientsResponse" message="tns:ICRMService_GetClients_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICRMService" type="tns:ICRMService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendClient">
      <soap:operation soapAction="http://tempuri.org/ICRMService/SendClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientTypes">
      <soap:operation soapAction="http://tempuri.org/ICRMService/GetClientTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCall">
      <soap:operation soapAction="http://tempuri.org/ICRMService/SendCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://tempuri.org/ICRMService/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/ICRMService/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRMService">
    <wsdl:port name="BasicHttpBinding_ICRMService" binding="tns:BasicHttpBinding_ICRMService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CRM/CRMService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>