CellPhoneService/CRM.Simulator/Connected Services/CRMService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" />
  <xs:element name="SendClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="client" nillable="true" type="q1:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="GetClientTypesResult" nillable="true" type="q2:ArrayOfClientType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="call" nillable="true" type="q3:Call" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="sMS" nillable="true" type="q4:SMS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMSResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CRM.CommonFiles.Models" minOccurs="0" name="GetClientsResult" nillable="true" type="q5:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>